<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Olá, <span th:text="${nome}"></span>
	</p>
	<br />
	<p>
		O seu código de recuperação de senha é o seguinte: <b><span
			th:text="${codigo}"></span></b>
	</p>
	<br />
	<p>Dúvidas? Estamos a disposição!!</p>

</body>
</html>